html, body {
	margin: 0;
	padding: 0;
}

body, th, td {
	font-family: "Helvetica Neue", Helvetica, Arial, Serif;
	font-size: 11px;
	color: black;
}

/**
 * 	Main Module Grid
 */

#ci-modules-grid {
	
	width: 1000px;
	height: 600px;
	
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid black;
	background: #f0f0f0;
	
	position: relative; /* important */
}

#ci-modules-grid > div.ci-module-wrapper {
	position: absolute; /* important */
	border: 1px solid #999999;
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	box-shadow: 0px 0px 5px rgba(40, 40, 40, 0.4);
	 
	z-index: 0; /* needs to be specified for the resize handle to appear in the right layer */
}

div.ci-module-wrapper .ci-module {
	height: 100%;
}


div.ci-module-wrapper .ci-module-header {
	height: 20px;
	
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top, #eaeaea 8%, #f7f7f7 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#eaeaea), color-stop(75%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 8%,#f7f7f7 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eaeaea 8%,#f7f7f7 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eaeaea 8%,#f7f7f7 75%); /* IE10+ */
	background: linear-gradient(top, #eaeaea 8%,#f7f7f7 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top: 1px solid #fefefe;
	
	border-bottom: 1px solid #c0c0c0;
}


div.ci-module-wrapper .ci-module-header .ci-module-header-title {
	line-height: 20px;
	margin-left: 10px;
	float: left;
}

div.ci-module-header-toolbar {
	float: right;
	height: 100%;
}
div.ci-module-header-toolbar ul {
	margin: 0;
	height: 100%;
	margin-right: 10px;
}

div.ci-module-header-toolbar ul li {
	margin: 0;
	list-style-type: none;
	line-height: 100%;
	padding-top: 3px;
}

div.ci-module-wrapper .ci-module-content {
	width: 100%;
	overflow: hidden;
}

.ci-module-expand {
	position: relative;
	top: -20px;
	height: 19px;
	line-height: 14px;
	background: #ececec;
	letter-spacing: 4px;
	font-size: 14px;
	border-top: 1px solid #c0c0c0;
	text-align: center;
	cursor: pointer;
}

.ci-module-expand {
	
}

.ci-label {
	font-weight: bold;
}

.ci-displaylist-list {
	margin: 20px;
}

.ci-displaylist-list > div {
	margin-bottom: 10px;
}

.ci-displaylist-list > div > .ci-chemical-iupac {
	float: left;
	width: 250px;
}
