.ci-module-canvas_matrix .ci-module-content > table {
	
	width: 100%;
	height: 100%;
}

.ci-module-canvas_matrix .ci-module-content  td {
	vertical-align: middle;
	text-align: center;
}


.ci-module-canvas_matrix .ci-module-content > div > div > canvas {
	
}
